@font-face {
    font-family: 'GeForce Light';
    src: url('fonts/GeForce-Light-Alt.eot');
    src: url('fonts/GeForce-Light-Alt.eot?#iefix') format('embedded-opentype'), url('fonts/GeForce-Light-Alt.woff') format('woff'), url('fonts/GeForce-Light-Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeForce Bold';
    src: url('fonts/GeForce-Bold.eot');
    src: url('fonts/GeForce-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/GeForce-Bold.woff') format('woff'), url('fonts/GeForce-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('fonts/DINPro.eot');
    src: local('fonts/DIN Pro'), local('fonts/DINPro'), url('fonts/DINPro.eot?#iefix') format('embedded-opentype'), url('fonts/DINPro.woff2') format('woff2'), url('fonts/DINPro.woff') format('woff'), url('fonts/DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Bold';
    src: url('fonts/DINPro-Bold.eot');
    src: local('fonts/DIN Pro'), local('fonts/DINPro'), url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/DINPro-Bold.woff2') format('woff2'), url('fonts/DINPro-Bold.woff') format('woff'), url('fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Din Pro';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Din Pro Bold';
}

#header {
    margin-top: 1em;
    border-radius: 1em;
    color: #76b900;
    padding: 1em 1.5em;
    background: black;
}

#header h1,
#header p {
    font-family: 'GeForce Bold';
}

#header a {
    color: #76b900;
}

#header p {
    color: #fff;
    margin-bottom: 0;
}

.game img {
    width: 100%;
    border-radius: .5em;
}

.filters {
    margin-top: 1em;
    margin-bottom: 2em;
}

.pagination {
    margin-top: 1em;
}

#scroll-top-button {
    padding: 0;
    border-radius: 100%;
    width: 5em;
    height: 5em;
}

#scroll-top-button span {
    font-size: 2em;
}

#scroll-top-container {
    position: fixed;
    bottom: 2em;
    left: calc(50% - 40px);
}

.dropdown .btn {
    text-align: left;
}

.loader {
    background: #000;
    width: 180px;
    height: 200px;
    border-radius: 1em;
    position: fixed;
    left: calc(50% - 167px/2);
    top: calc(50% - 167px/2);
    z-index: 10;
}

.loader {
    display: none;
}

.loader img {
    position: relative;
    width: 150px;
    left: 15px;
    top: 15px;
}

.loader p {
    color: #fff;
    text-align: center;
    position: relative;
    top: 15px;
}