{% if pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for page in range(1, pages+1) %}
                {% if page == current_page %}
                    {% set active = 'active' %}
                {% endif %}
                <li class="page-item {{ active }}"><a class="page-link" href="{{ url_for('catalog.list', store=current_store, page=page, genre=current_genre) }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
