<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeForce NOW Catalog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DEXXLR3EV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-4DEXXLR3EV');
    </script>
</head>

<body>
    <div class="container" id="games">

    <div class="loader">
        <img src="img/loader.svg">
        <p>Loading games</p>
    </div>

        <div class="row">
            <div class="col-12">
                <div id="header">
                    <a href="{{ url_for('catalog.list') }}">
                        <h1>GeForce NOW Catalog</h1>
                    </a>
                    <p>A better way to browse GeForce NOW game streaming service.</p>
                </div>
            </div>
        </div>

        <div class="row filters">
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <h5>Store</h5>
                <div class="dropdown">
                    <button class="col-12 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if current_store == '' %}
                            None
                        {% elif current_store == '<all>' %}
                            All
                        {% else %}
                            {{ current_store }}
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store='<all>', genre=current_genre) }}">All</a>
                        {% for store in stores %}
                            {% if not store %}
                                <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store='', genre=current_genre) }}">None</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store=store, genre=current_genre, rating=current_rating) }}">{{ store }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <h5>Genre</h5>
                <div class="dropdown">
                    <button class="col-12 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if current_genre %}
                            {{ current_genre }}
                        {% else %}
                            All
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store=current_store, rating=current_rating) }}">All</a>
                        {% for genre in genres %}
                            <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store=current_store, genre=genre, rating=current_rating) }}">{{ genre }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <h5>Rating</h5>
                <div class="dropdown">
                    <button class="col-12 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if current_rating %}
                            {{ current_rating }}
                        {% else %}
                            All
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store=current_store, genre=current_genre) }}">All</a>
                        {% for rating in ratings %}
                            <a class="dropdown-item" href="{{ url_for('catalog.list', s=s, store=current_store, genre=current_genre, rating=rating) }}">{{ rating }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <h5>Search</h5>
                <form method="GET" action="/">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="s" name="s" value="{% if s %}{{ s }}{% endif %}" placeholder="Hit enter to submit!">
                            <input type="hidden" name="store" value="{{ current_store }}">
                            {% if current_genre %}
                                <input type="hidden" name="genre" value="{{ current_genre }}">
                            {% endif %}
                            {% if current_rating %}
                                <input type="hidden" name="rating" value="{{ current_rating }}">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>(*) Rating is available for Steam only right now.</p>
            </div>
        </div>

        {% if total > 0 %}
            {% for rows in games | batch(4) %}
                <div class="row">
                    {% for game in rows %}
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                            <div class="game">
                                {% if game['steamUrl'] %}<a href="{{ game['steamUrl'] }}" target="_blank">{% endif %}
                                    {% if game['image'] %}
                                        <img src="{{ game['image'] }}" />
                                    {% else %}
                                        <img src="img/no-preview.png" />
                                    {% endif %}
                                    <p>{{ game['title'] }}</p>
                                {% if game['steamUrl'] %}</a>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h2>No games found</h2>
        {% endif %}

    </div>

    <div id="scroll-top-container">
        <button class="btn" id="scroll-top-button">
            <span>🔝</span>
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>
